@page "/about"

    <Title>Kalen Wallin's Portfolio</Title>
    <Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
    <Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

    <header>
        <div class="modal-header">
            <h1>About Me</h1>
        </div>

    </header>
    <body>
        <div class="about-row">
            <div class="about-column">
                <p>
                    Hello everyone! My name is Kalen Wallin. I'm a junior computer science student in the honors program
                    at the University of Nebraska-Lincoln (UNL). I like coding and challenging myself with new projects. I work
                    on a wide range of personal projects, everything from websites to video games to mobile apps. When I'm not working on
                    projects, I like to lift weights, play video games, or watch movies/tv. I also invest in and trade cryptocurrencies.
                    I'm almost always listening to music with my favorite genres being hip-hop, pop, and electronic.
                    I enjoy helping others and serving the community. 
                    I've completed over 100 hours of community service and I'm always on standby for new opportunities.
                </p>
                <p>
                    I would like to have a career in software development and I am currently working as a software developer intern at
                    <a href="https://www.farmafield.com/" target="_blank">FarmAfield</a>.
                </p>
                <p>
                    Here are some skills I've picked up over the past few years of working on personal projects.
                    <br />
                <b>Tools:</b> Adobe Creative Suite, Microsoft Office Suite, Visual Studio/Code, Eclipse, Git, MySQL
                    Workbench, Razor Pages, ASP.NET Core, Blazor, Amazon Web Services
                    <br />
                <b>Frameworks:</b> Flutter (Mobile Devlopment), .NET (Mobile and Web Development)
                    <br />
                <b>Coding Languages:</b> C, C++, C#, Dart, HTML & CSS, Java, JavaScript, Python, SQL, XAML, GDScript
                </p>
                <p><a href="mailto:kalenwallin1@gmail.com"> Email: kalenwallin1@gmail.com </a></p>
            </div>
            <div class="about-column2">
                <div class="card-left-about">
                    <img src="/Images/kalen.jpg" alt="Photo of Kalen Wallin" style="width:100%" />
                </div>
            </div>
        </div>
        <br />
    </body>