@page "/"
@inject Services.AppData AppData;


<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>About Kalen</h1>
    </div>

</header>

<div class="about-row slide-in-from-bottom-light">
    <div class="about-column">
        <table class="responsive-table">
            <tr>
                <th>Year</th>
                <th>Description</th>
            </tr>

            <tr>
                <td>2023</td>
                <td>
                    - Graduated with honors and highest distinction from the University of Nebraska-Lincoln with a Bachelor of Science in Computer Science and a minor in Mathematics.<br/>
                    - Started freelance developing a harvest reporting and management website for Wallin Farms.
                </td>
            </tr>

            <tr>
                <td>2022</td>
                <td>
                    - Studied abroad in Iceland at Reykjavik University during the Spring semester.<br/>
                    - Worked remotely as a Django web developer for FarmAfield full-time from July to August.
                </td>
            </tr>

            <tr>
                <td>2021</td>
                <td>
                    - Worked remotely as a Django web developer intern at FarmAfield full-time during the summer and in office part-time during the Fall semester. <br/>
                    - Worked as a Teaching Assistant in Software Engineering &#40;CSCE 361&#40; in the Fall.
                </td>
            </tr>

            <tr>
                <td>2020</td>
                <td>
                    - Joined University of Nebraska Honors.
                </td>
            </tr>

            <tr>
                <td>2019</td>
                <td>
                    - Started studying at the University of Nebraska-Lincoln in the Fall. <br/>
                    - Graduated from Chase County High School as the valedictorian in the Spring.
                </td>
            </tr>

        </table>

        <style>
            .responsive-table {
                border: 1px solid #ccc;
                margin-left: -1rem;
                margin-bottom: 1rem;
            }

                .responsive-table th, .responsive-table td {
                    padding: 1rem;
                    border: 1px solid #ccc;
                }

                .responsive-table th {
                    background-color: #ccc;
                }

            body.dark-theme .responsive-table, body.dark-theme .responsive-table th, body.dark-theme .responsive-table td {
                border: 1px solid #333;
            }

                body.dark-theme .responsive-table th {
                    background-color: #333;
                }
        </style>
        <p class="about-p">
            I am a Software Engineer from Imperial, Nebraska. After graduating with honors and the highest distinction from the University of Nebraska-Lincoln (UNL) in August 2023, I earned my bachelor's degree in computer science and a minor in mathematics. My radiant passion for programming fuels my professional choices and guides my educational journey.
            <br /><br />
            I fell in love with programming back in my elementary school days. Prompted by my curiosity about video game creation and website development, I dived into online courses on Codecademy. This early interest in web and game development stayed with me through junior high and high school, increasing in depth when I started studying at UNL. My time here was marked by a profound exploration into the intricate aspects of programming beyond the basics.
            <br /><br />
            My skills in programming were further sharpened thanks to my diverse experiences in academic coursework, personal projects, and an internship at FarmAfield. I've also gained invaluable experience in game development and graphic design through my courses and extracurricular activities at different institutes like UNL, Reykjavik University (RU), and Chase County High School (CCHS). As a result, I have created 6 websites, 4 video games, and a mobile app, among numerous other demos and work projects.
            <br /><br />
            Being an attentive, organized, and forward-thinking individual, I consistently deliver top-notch results. My natural curiosity and discipline keep me motivated, encouraging steady progress and effectively preventing burnout. My ability to work effectively in a team environment further enhances my potential contribution to prospective collaborations.
            <br /><br />
            Currently, I am open to any opportunities in the programming field. I am particularly interested in navigating the terrain of Python or Javascript programming.
        </p>
    </div>
    <div class="about-column2">
        <div class="card-left-about">
            <img src=@AppData.GetImageLink("suit.jpeg") alt="Photo of Kalen Wallin" style="width:100%" />
        </div>
        <br />
        <div class="about-icons">
            <div class="light">
                <a href="mailto:kalenwallin1@gmail.com" target="_blank"><img src=@AppData.GetImageLink("mail.svg") height="31" /></a>
                <a href="https://www.linkedin.com/in/kalenwallin/" target="_blank"><img src=@AppData.GetImageLink("linkedin.svg") height="31" /></a>
                <a href="https://github.com/kalenwallin" target="_blank"><img src=@AppData.GetImageLink("github.svg") height="31" /></a>
            </div>
            <div class="dark">
                <a href="mailto:kalenwallin1@gmail.com" target="_blank"><img src=@AppData.GetImageLink("mail_dark.svg") height="31" /></a>
                <a href="https://www.linkedin.com/in/kalenwallin/" target="_blank"><img src=@AppData.GetImageLink("linkedin_dark.svg") height="31" /></a>
                <a href="https://github.com/kalenwallin" target="_blank"><img src=@AppData.GetImageLink("github_dark.svg") height="31" /></a>
            </div>
        </div>
    </div>
</div>
<br />
