@page "/"

    <header>
        <div class="modal-header slide-in-from-bottom">
            <h1>About Kalen</h1>
        </div>

    </header>
    <body>
        <div class="about-row slide-in-from-bottom-light">
            <div class="about-column">
                <p class="about-p">
                    Kalen Wallin is in his fourth year at the University of Nebraska-Lincoln (UNL). He is studying computer science and is in the honors program. During his third year,
                    Kalen studied abroad at Reykjavik University for a semester, where he learned web programming and game engineering architecture.
                    <br /> <br />
                    Using the programming skills he picked up during his studies, Kalen learned web and game development through internships and personal projects. 
                    During his time in Lincoln, he developed websites for FarmAfield and developed video games for Mystic Rhoads Productions and UNL Game Development Club. 
                    He also has experience with game development through courses at UNL, Reykjavik University, and Chase County Schools.
                    <br /> <br />
                    Kalen plans to graduate from UNL in the Summer of 2023. He is seeking employment for web or game development. Send him an email if you're looking for a developer.
                    <a href="mailto:kalenwallin1@gmail.com"> Email: kalenwallin1@gmail.com </a>
                </p>
                <p class="about-p">
                    Here are some tools, frameworks, and coding languages Kalen has worked with:
                    <br />
                    <b>Tools</b><br /> Adobe Creative Suite, Microsoft Office Suite, Eclipse, GitHub, MySQL
                    Workbench <br />
                    .NET Framework: Visual Studio/Code, Razor Pages, ASP.NET Core, Blazor <br />
                    Amazon Web Services: Amplify, Elastic Cloud; Godot, S3, Lambda <br />
                    Game engines: Unity, Godot <br />
                    <br />
                    <b>Frameworks</b><br /> Flutter (Mobile Devlopment), .NET (Mobile and Web Development), Django (Web Development)
                    <br /><br />
                    <b>Coding Languages:</b><br /> ANTLR, C, C++, C#, Dart, Haskell, HTML & CSS, Java, JavaScript, Prolog, Python, SQL, XAML, GDScript
                </p>
            </div>
            <div class="about-column2">
                <div class="card-left-about">
                    <img src="/Images/ColorfulSuit.JPG" alt="Photo of Kalen Wallin" style="width:100%" />
                </div>
            </div>
        </div>
        <br />
    </body>