@page "/communityservice"

    <header>
        <div class="modal-header slide-in-from-bottom">
            <h1>Community Service</h1>
        </div>

    </header>
    <body>
        <div>
			<div class="row slide-in-from-bottom-light">
				<div class="column">
					<div class="card" onclick="document.getElementById('id01').style.display='block'">
						<div class="img-container">
							<img src="/Images/pfa.png" alt="Pedal For Alzheimer's Logo">
						</div>
						<div class="container">
							<h4><b>Pedal For Alzheimer's</b></h4>
							<p>Student Fundraising Manager & Volunteer</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card" onclick="document.getElementById('id06').style.display='block'">
						<div class="img-container">
							<img src="/Images/fbla.png" alt="Future Business Leaders of America Graphic">
						</div>
						<div class="container">
							<h4><b>Future Business Leaders of America</b></h4>
							<p>President 1x, Member 3x</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card" onclick="document.getElementById('id03').style.display='block'">
						<div class="img-container">
							<img src="/Images/ebct.png" alt="Ethics and Broader Considerations of Technology graphic">
						</div>
						<div class="container">
							<h4><b>Ethics and Broader Considerations of Technology Conference</b></h4>
							<p>Student Volunteer</p>
						</div>
					</div>
				</div>
			</div>
            <br />
        </div>
    </body>

    <!-- The Modal -->
    <div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">Pedal For Alzheimer's</h1>
				<hr />
                <div class="row">
                    <div class="pfa column">
                        <img src="/Images/PFANews.jpg" alt="PFA News" style="width:100%">
                    </div>
                    <div class="pfa column">
                        <img src="/Images/DaytonaPFA.jpg" alt="PFA Daytona" style="width:100%">
                    </div>
                    <div class="pfa column">
                        <img src="/Images/DunkTankFundraiser.jpg" alt="PFA Dunk Tank Fundraiser Ad" style="width:100%">
                    </div>
                </div>
                <br /><br />
					  <p>
					  	<b>About PFA</b><br />
					  	<a href="https://pedalforalzheimers.org/" target="_blank">Pedal for Alzheimer’s, Ltd.</a>is a 501c3 non-profit charitable platform committed to organizing cycling events to raise money, create awareness,
					  	and provide education towards the mission of finding a cure for Alzheimer’s. The Pedal for Alzheimer’s organization was co-founded in 2017
					  	by Josh Crisp and Michelle Brooke-Marciniak. Each year, PFA holds a 1,098-mile cycling event created to honor the legacy of the late University of Tennessee
					  	women’s basketball coach Pat Summitt who died of Alzheimer’s in 2016.
					  	<br />
					  	<br />
					  	<b>How Kalen connected with PFA</b><br />
					  	Mark Bottom is one of the cyclists and was Kalen's high school teacher. Mark asked the FBLA chapter to help him fundraise $5,000 for the event.
					  	At the time, Kalen was being chosen to be the next FBLA President and he was asked by Mark to lead this fundraising attempt.
					  	After holding a couple fundraisers and asking for donations, the FBLA chapter raised $7,000.
					  	<br />
					  	<br />
					  	<b>What Kalen Did</b><br />
					  	During the event in October 2018, Kalen traveled the south from South Carolina to Florida as a volunteer with the PFA Team. He helepd set up rest stops
					  	for the cyclists and check into hotels room for the cyclists.
					  	<br />
					  	<br />
					  	<b>Outcomes</b><br />
					  	During this service, Kalen helped a national non-profit organization by fundraising money and helping the event run smoothly.
					  	He also helped his high school teacher be able to participate as a cyclist. From this experience, Kalen learned how to manage a fundraising event,
					  	as well as the value of teamwork and leadership within an organization.
					  </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 3 -->
    <div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
        <span onclick="document.getElementById('id03').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">Ethics and Broader Considerations<br /> of Technology Conference</h1>
                <hr />
                <p>
                    <b>What it is</b><br />
                    The Ethics and Broader Considerations of Technology (EBCT) Conference is a regional conference
                    aimed at fostering thoughtful and truly interdisciplinary conversations about the ethical considerations
                    of emerging technologies.
                    <br />
                    <br />
                    <b>What Kalen did</b><br />
                    Before the conference, Kalen prepared rooms for the conference.
                    During the conference, Kalen managed guest attendance.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 6 -->
    <div id="id06" class="modal" onclick="document.getElementById('id06').style.display='none'">
        <span onclick="document.getElementById('id06').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
			<div class="fappy_container">
				<h1 class="text-center">Future Business Leaders of America</h1>
				<hr />
				<p>
                    <b>Savings Program for Students</b><br />
					Kalen's Future Business Leaders of America (FBLA) chapter created a savings program in partnership
					with Adams Bank and Trust to help students get started on their savings accounts. A reward system
					was created to encourage students to save their money. Every week students could put money into their
					savings account.
					<br />
					<br />
					Every other week throughout the school years 2017-2019, Kalen worked as a teller aiding students with their
					savings deposits.
				</p>
				<p>
					<b>Veteran's Day Program</b><br />
					Every year on Veteran's Day, the Chase County Future Business Leaders of America (FBLA) Chapter
					holds a program for the war veterans of the United States.
					<br />
					<br />
					In years 2015-2017, Kalen ran the lights during the entire program. In 2018, he spoke the introduction,
					then ran the lights for the rest of the program.
				</p>
				<p>
					<b>Mercy Meals</b><br />
					Mercy Meals of Nebraska is a non-profit organization that allows volunteers to package nourishing food that will
					be delivered by the Orphan Grain Train to children in need throughout the world.
					<br />
					<br />
					During years 2015-2019, Kalen packed meals with my FBLA chapter 3x a year.
				</p>
				<button class="btn-block" type="button" onclick="document.getElementById('id06').style.display='none'">Done</button>
			</div>
        </form>
    </div>
