@page "/communityservice"

    <Title>Kalen Wallin's Portfolio</Title>
    <Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
    <Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

    <header>
        <div class="modal-header">
            <h1>Community Service</h1>
        </div>

    </header>
    <body>
        <div class="modal-header">
            <h2>2019</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <img src="/Images/ebct2019.png" alt="EBCT 2019 Logo" style="width:100%">
                    <div class="container">
                        <h4><b>EBCT Conference</b></h4>
                        <p>Student Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" onclick="document.getElementById('id06').style.display='block'">
                    <img src="/Images/ccsfbla.jpg" alt="CCS FBLA" style="width:100%">
                    <div class="container">
                        <h4><b>CCS x FBLA Savings Program</b></h4>
                        <p>Teller</p>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="modal-header">
            <h2 style="color: grey">2018</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <img src="/Images/PFALogo.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Pedal For Alzheimer's</b></h4>
                        <p>Student Fundraising Manager & Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <img src="/Images/mercyMeals.jpg" alt="Mercy Meals Logo" style="width:100%">
                    <div class="container">
                        <h4><b>Mercy Meals</b></h4>
                        <p>Volunteer</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" onclick="document.getElementById('id07').style.display='block'">
                    <img src="/Images/longhornRunningClub.png" alt="CCS Running Club" style="width:100%">
                    <div class="container">
                        <h4><b>CCS Summer Running Club</b></h4>
                        <p>Running Captain</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card" onclick="document.getElementById('id08').style.display='block'">
                    <img src="/Images/fblavetday.png" alt="FBLA Veteran's day Graphic" style="width:100%">
                    <div class="container">
                        <h4><b>FBLA Veterans Day Program</b></h4>
                        <p>Speaker and Light Controller</p>
                    </div>
                </div>
            </div>
            <div class="column">

            </div>
            <div class="column">

            </div>
        </div>
        <br />
    </body>

    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-pfa-content animate">
            <div class="fappy_container">
                <h1 class="text-center">Pedal For Alzheimer's</h1>
                <div class="row">
                    <div class="column">
                        <img src="/Images/PFANews.jpg" alt="PFA News" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/Images/DaytonaPFA.jpg" alt="PFA Daytona" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/Images/DunkTankFundraiser.jpg" alt="PFA Dunk Tank Fundraiser Ad" style="width:100%">
                    </div>
                </div>
                <h2>Description:</h2>
                <p>
                    <a href="https://pedalforalzheimers.org/" target="_blank">Pedal for Alzheimer’s, Ltd.</a>is a 501c3 non-profit charitable platform committed to organizing cycling events to raise money, create awareness,
                    and provide education towards the mission of finding a cure for Alzheimer’s. The Pedal for Alzheimer’s organization was co-founded in 2017
                    by Josh Crisp and Michelle Brooke-Marciniak. Each year, PFA holds a 1,098-mile cycling event created to honor the legacy of the late University of Tennessee
                    women’s basketball coach Pat Summitt who died of Alzheimer’s in 2016.
                    <br />
                    <br />
                    Mark Bottom is one of the cyclists and was my high school teacher. He asked my FBLA chapter to help him fundraise $5,000 for the event.
                    At the time, I was being chosen to be the next FBLA President and I was asked to lead this fundraising attempt.
                    After holding a couple fundraisers and asking for donations, our chapter raised $7,000.
                    <br />
                    <br />
                    During the event in October 2018, I traveled the south as a volunteer with the PFA Team. I helepd set up rest stops
                    for the cyclists and check into hotels room before the cyclists got there.
                    <br />
                    <br />
                    During this service, I got to help a national non-profit organization by fundraisning money and volunteering during the event.
                    I also got to help my high school teacher be able to participate in the cycling. I have learned how to set up and direct a fundraising event
                    and the value of teamwork and leadership within an organization no matter the size.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 2 -->
    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">Mercy Meals</h1>
                <div class="text-center">
                    <img src="/Images/MercyMealsHouse.jpg" alt="Mercy Meals Packing House" style="width:50%">
                </div>
                <h2>Description:</h2>
                <p>
                    Mercy Meals of Nebraska is a non-profit organization that allows volunteers to package nourishing food that will
                    be delivered by the Orphan Grain Train to children in need throughout the world.
                    <br />
                    <br />
                    During years 2015-2019, I packed meals with my FBLA chapter 3x a year.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 3 -->
    <div id="id03" class="modal">
        <span onclick="document.getElementById('id03').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-pfa-content animate">
            <div class="fappy_container">
                <h1 class="text-center">EBCT Conference</h1>
                <div class="text-center">
                    <img src="/Images/ebctPoster.jpg" alt="EBCT Poster" style="width:50%">
                </div>
                <h2>Description:</h2>
                <p>
                    The Ethics and Broader Considerations of Technology (EBCT) Conference is a regional conference
                    aimed at fostering thoughtful and truly interdisciplinary conversations about the ethical considerations
                    of emerging technologies.
                    <br />
                    <br />
                    Before the conference, I prepared rooms for the conference.
                    During the conference, I kept record of every guest that attended.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 6 -->
    <div id="id06" class="modal">
        <span onclick="document.getElementById('id06').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">CCS Savings Program</h1>
                <div class="text-center">
                    <img src="/Images/savingsprogram.jfif" alt="CCS Savings Program" style="width:50%">
                </div>
                <h2>Description:</h2>
                <p>
                    My Future Business Leaders of America (FBLA) chapter created a savings program in partnership
                    with Adams Bank and Trust to help students get started on their savings accounts. A reward system
                    was created to encourage students to save their money. Every week students could put money into their
                    savings account.
                    <br />
                    <br />
                    Every other week throughout the school years 2017-2019, I worked as a teller aiding students with their
                    savings deposits.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id06').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 7 -->
    <div id="id07" class="modal">
        <span onclick="document.getElementById('id07').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">CCS Summer Running Club</h1>
                <div class="text-center">
                    <img src="/Images/runningcaptain.jpg" alt="Road Running" style="width:50%">
                </div>
                <h2>Description:</h2>
                <p>
                    During the summers of 2017 and 2018, I would lead CCS runners on runs ranging from 3-13 miles
                    on weekday mornings.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id07').style.display='none'">Done</button>
            </div>
        </form>
    </div><!-- The Modal 8 -->
    <div id="id08" class="modal">
        <span onclick="document.getElementById('id08').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">FBLA Veteran's Day Program</h1>
                <div class="text-center">
                    <img src="/Images/veteransprogram.jfif" alt="Veteran's Day Program Graphic" style="width:50%">
                </div>
                <h2>Description:</h2>
                <p>
                    Every year on Veteran's Day, the Chase County Future Business Leaders of America (FBLA) Chapter
                    holds a program for the war veterans of the United States.
                    <br />
                    <br />
                    In years 2015-2017, I ran the lights during the entire program. In 2018, I spoke the introduction,
                    then ran the lights for the rest of the program.
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id08').style.display='none'">Done</button>
            </div>
        </form>
    </div>
