@page "/documents"

    <header>
        <div class="modal-header slide-in-from-bottom">
            <h1>Documents</h1>
        </div>

    </header>
    <body>
        <div>
            <div class="row slide-in-from-bottom-light">
                <div class="column">
                    <div class="card" onclick="document.getElementById('id01').style.display='block'">
                        <img src="/Images/resume.png" alt="Resume Graphic">
                        <div class="container">
                            <h4><b>Resume</b></h4>
                            <p>General Purpose</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card" onclick="document.getElementById('id02').style.display='block'">
                        <img src="/Images/unl_transcript.png" alt="UNL Transcript Graphic">
                        <div class="container">
                            <h4><b>University Transcript</b></h4>
                            <p>University of Nebraska-Lincoln</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card" onclick="document.getElementById('id03').style.display='block'">
                        <img src="/Images/cchs_transcript.png" alt="CCHS Transcript Graphic">
                        <div class="container">
                            <h4><b>High School Transcript</b></h4>
                            <p>Chase County High School</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </body>

    <!-- The Modal -->
    <div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="modal-container">
                <h1 class="text-center">Resume</h1>
                <br />
                <div class="iframe-container">
                    <iframe loading="lazy" class="responsive-iframe" src="/Documents/Resume.pdf"></iframe>
                </div>
                <br /><br />
                <p>Having issues with the pdf? Try the link below.</p>
                <a href="/Documents/Resume.pdf" download="Kalen Wallin Resume" target="_blank">Download PDF</a>
                <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 2 -->
    <div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">
        <span onclick="document.getElementById('id02').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="modal-container">
                <h1 class="text-center">University of Nebraska-Lincoln Transcript</h1>
                <br />
                <div class="iframe-container">
                    <iframe loading="lazy" class="responsive-iframe" src="/Documents/unl_transcript.pdf"></iframe>
                </div>
                <br /><br />
                <p>Having issues with the pdf? Try the link below.</p>
                <a href="/Documents/unl_transcript.pdf" download="Kalen Wallin UNL Transcript" target="_blank">Download PDF</a>
                <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
            </div>
        </form>
    </div>

    <!-- The Modal 3 -->
    <div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
        <span onclick="document.getElementById('id03').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="modal-container">
                <h1 class="text-center">Chase County High School Transcript</h1>
                <br />
                <div class="iframe-container">
                    <iframe loading="lazy" class="responsive-iframe" src="/Documents/cchstranscript.pdf"></iframe>
                </div>
                <br /><br />
                <p>Having issues with the pdf? Try the link below.</p>
                <a href="/Documents/cchstranscript.pdf" download="Kalen Wallin CCHS Transcript" target="_blank">Download PDF</a>
                <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
            </div>
        </form>
    </div>
