@page "/"

    <Title>Kalen Wallin's Portfolio</Title>
    <Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
    <Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

    <header>
        <div class="modal-header">
            <h1>Welcome!</h1>
        </div>

    </header>
    <br />
    <p>This is the portfolio of <a href="/About">Kalen Wallin.</a></p>
    <p>
        The navigation bar contains categories of projects that
        I have worked on. 
        <br />
        Try clicking on <a href="/videogames">Video Games</a> to get started!
    </p>
