@page "/"

    <Title>Kalen Wallin's Portfolio</Title>
    <Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
    <Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

    <header>
        <div class="modal-header slide-in-from-bottom">
            <h1>Welcome!</h1>
        </div>
    </header>
    <div class="slide-in-from-bottom">
        <br />
        <p>This is the portfolio of <a href="/About">Kalen Wallin.</a></p>
        <p>
            The navigation bar contains categories of projects that
            I have worked on and information about myself. 
            <br />
            Try clicking on <a href="/work">Work Experience</a> to get started!
        </p>
    </div>
