@page "/mobileapps"

    <header>
        <div class="modal-header slide-in-from-bottom">
            <h1>Mobile Apps</h1>
        </div>

    </header>
    <body>
        <div>
            <div class="row slide-in-from-bottom-light">
                <div class="column to-slide-bottom-light animate">
                    <div class="card" onclick="document.getElementById('id01').style.display='block'">
                        <img src="/Images/lifting_calculator.png" alt="Weight Lifting Calculator Screenshot">
                        <div class="container">
                            <h4><b>Weight Lifting Calculator</b></h4>
                            <p>.NET Developer</p>
                        </div>
                    </div>
                </div>
                <div class="column to-slide-bottom-light animate">
                </div>
                <div class="column to-slide-bottom-light animate">
                </div>
            </div>
            <br />
        </div>
    </body>

    <!-- The Modal -->
    <div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate">
            <div class="fappy_container">
                <h1 class="text-center">Weight Lifting Calculator</h1>
                <br />
                <div class="row">
                    <div class="column">
                        <img src="/Images/WeightLiftingCalculator.jpg" alt="Weight Lifting Calculator Screenshot" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/Images/WLCTuesday.jpg" alt="Weight Lifting Calculator Screenshot" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/Images/WLCDark.jpg" alt="Weight Lifting Calculator Screenshot" style="width:100%">
                    </div>
                </div>
                <br /><br />
                <p>
                    <b>What it is</b><br />
                    Weight Lifting Calculator is a mobile companion app for the workout
                    <a href="https://www.t-nation.com/workouts/built-for-battle." target="_blank">"Built For Battle"</a>
                    by Christian Thibaudeau.
                    This application calculates how much weight to put on each side given the user's 3 rep max and day of workout.
                    It also has dark mode for those night time workouts. :D
                    <br /><br />
                    <b>Development Tools:</b> .NET Framework, Xamarin Forms, Visual Studio
                    <br /><br />
                    <a href="https://github.com/kalenwallin/WeightLiftingCalculator" target="_blank">Check out the code!</a>
                </p>
                <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
            </div>
        </form>
    </div>
