@page "/mobileapps"
@inject Services.AppData AppData;

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Mobile Apps</h1>
    </div>

</header>
<body>
    <div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <img src=@AppData.GetImageLink("lifting_calculator.png") alt="Weight Lifting Calculator Screenshot">
                    <div class="container">
                        <h4><b>Weight Lifting Calculator</b></h4>
                        <p>Xamarin Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
        </div>
        <br />
    </div>
</body>

<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe loading="lazy" src="https://v3.kalenwallin.com/weight-lifting-calculator" style="width: 100%; height: 95%;" />
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>
