@page "/videogames"

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Video Games</h1>
    </div>

</header>
<body>
    <div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/baldorf.png" alt="baldorf graphic">
                    </div>
                    <div class="container">
                        <h4><b>baldorf</b></h4>
                        <p>Unity Game Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id04').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/godot_demo.png" alt="godot demo graphic">
                    </div>
                    <div class="container">
                        <h4><b>Godot Demo</b></h4>
                        <p>Godot Game Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/minieval.png" alt="Minieval Logo">
                    </div>
                    <div class="container">
                        <h4><b>Minieval</b></h4>
                        <p>Godot Game Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/fappy_borbs.png" alt="Fappy Borbs Graphic">
                    </div>
                    <div class="container">
                        <h4><b>Fappy Borbs</b></h4>
                        <p>Unity Game Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

<!-- The Modal -->
<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Fappy Borbs</h1>
            <hr />
            <iframe loading="lazy" frameborder="0" src="https://itch.io/embed-upload/1306817?color=5a5a5a" allowfullscreen="" width="980" height="688">
                <a href="https://kalenwallin.itch.io/fappy-borbs">Play Fappy Borbs on itch.io</a>
            </iframe>
            <br />
            <br />
            <p>
                <b>What it is</b><br />
                Fappy Borbs is an adventure take on the popular game, Flappy Bird. This game was created by Kalen's computer science class in highschool.
                His team consisted of 2 programmers, 2 artists, and a music producer.
                <br /><br />
                <b>Programmers:</b> Kalen Wallin & Travis Rowley <br />
                <b>Artists:</b> Landis Beverly & Nike Smith <br />
                <b>Music Producer:</b> Will Kuenne <br /><br />
                <b>Development Tools:</b> Unity Game Engine <br />
                <b>Language:</b> C#
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal -->
<div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Minieval</h1>
            <hr />
            <iframe loading="lazy" frameborder="0" src="https://minieval.kalenwallin.com/html/Minieval" allowfullscreen width="980" height="688"></iframe>
            <br />
            <br />
            <p>
                <b>What it is</b><br />
                A tiny medieval city builder, inspired by Islanders. <br /><br />
                This game was created by Kalen's Game Development club at the University of Nebraska-Lincoln.
                His team consisted of 4 programmers, 1 artist, and 1 music programmer.
                <br /><br />
                <b>Programmers:</b>
                <a href="https://kalenwallin.com">Kalen Wallin</a>,
                <a href="https://github.com/EvanJMielak">Evan Mielak</a>,
                <a href="https://frie.dev/">Aaron Friesen</a>,
                and
                <a href="https://github.com/viet-ninh">Viet Ninh</a>
                <br />
                <b>Artist:</b> <a href="https://github.com/EthanFox01">Ethan Fox</a> <br />
                <b>Music Producers:</b>
                <a href="https://github.com/jack-herman">Jackson Herman</a> and
                <a href="https://frie.dev/">Aaron Friesen</a>
                <br /><br />
                <b>Development Tools:</b>
                <a href="https://godotengine.org/">Godot Game Engine</a>
                <br />
                <b>Language:</b>
                <a href="https://docs.godotengine.org/en/stable/tutorials/scripting/gdscript/gdscript_basics.html">GDScript</a>  <br />
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
        </div>
    </form>
</div>

<div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe loading="lazy" src="https://v3.kalenwallin.com/baldorf" style="width: 100%; height: 95%;" />
            <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
        </div>
    </form>
</div>

<div id="id04" class="modal" onclick="document.getElementById('id04').style.display='none'">
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe loading="lazy" src="https://v3.kalenwallin.com/godot-game-level-demo" style="width: 100%; height: 95%;" />
            <button class="btn-block" type="button" onclick="document.getElementById('id04').style.display='none'">Done</button>
        </div>
    </form>
</div>