@page "/videogames"
@inject IJSRuntime js
@inject Services.AppData AppData;

<Title>Kalen Wallin's Portfolio</Title>
<Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
<Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

<header>
	<div class="modal-header slide-in-from-bottom">
		<h1>Video Games</h1>
	</div>

</header>
<body>
	<div>
		<div class="row slide-in-from-bottom-light">
			<div class="column to-slide-bottom-light animate">
				<div class="card" onclick="document.getElementById('id03').style.display='block'">
					<div class="img-container">
						<img src="/Images/baldorf.png" alt="baldorf graphic">
					</div>
					<div class="container">
						<h4><b>baldorf</b></h4>
						<p>Full Stack Game Developer</p>
					</div>
				</div>
			</div>
			<div class="column to-slide-bottom-light animate">
				<div class="card" onclick="document.getElementById('id02').style.display='block'">
					<div class="img-container">
						<img src="/Images/minieval.png" alt="Minieval Logo">
					</div>
					<div class="container">
						<h4><b>Minieval</b></h4>
						<p>User Interface and Programming</p>
					</div>
				</div>
			</div>
			<div class="column to-slide-bottom-light animate">
				<div class="card" onclick="document.getElementById('id01').style.display='block'">
					<div class="img-container">
						<img src="/Images/fappy_borbs.png" alt="Fappy Borbs Graphic">
					</div>
					<div class="container">
						<h4><b>Fappy Borbs</b></h4>
						<p>Project Manager & Lead Programmer</p>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
</body>

<!-- The Modal -->
<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
	<span onclick="document.getElementById('id01').style.display='none'"
		  class="close" title="Close Modal">&times;</span>

	<!-- Modal Content -->
	<form class="modal-content animate">
		<div class="fappy_container">
			<h1 class="text-center">Fappy Borbs</h1>
			<br />
			<div class="text-center">
				<img src="/Images/fappy_borbs.png" alt="Fappy Borbs Graphic" style="width:100%">
			</div>
			<div class="text-center">
				<a href="https://kalenwallin.itch.io/fappy-borbs" target="_blank">Play here!</a>
			</div>
			<br />
				  <p>
				  	<b>What it is</b><br />
				  	Fappy Borbs is an adventure take on the popular game, Flappy Bird. This game was created by Kalen's computer science class in highschool.
				  	His team consisted of 2 programmers, 2 artists, and a music producer.
				  	<br /><br />
				  	<b>Programmers:</b> Kalen Wallin & Travis Rowley <br />
				  	<b>Artists:</b> Landis Beverly & Nike Smith <br />
				  	<b>Music Producer:</b> Will Kuenne <br /><br />
				  	<b>Development Tools:</b> Unity Game Engine <br />
				  	<b>Language:</b> C#
				  </p>
			<button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
		</div>
	</form>
</div>

<!-- The Modal -->
<div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">
	<span onclick="document.getElementById('id02').style.display='none'"
		  class="close" title="Close Modal">&times;</span>

	<!-- Modal Content -->
	<form class="modal-content animate">
		<div class="fappy_container">
			<h1 class="text-center">Minieval</h1>
			<br />
			<div class="text-center">
				<img src="/Images/minieval.png" alt="Minieval Graphic" style="width:100%">
			</div>
			<div class="text-center">
				<a href="https://frie.dev/minieval/play/" target="_blank">Play here!</a>
			</div>
			<br />
			<p>
				<b>What it is</b><br />
				A tiny medieval city builder, inspired by Islanders. <br /><br />
				This game was created by Kalen's Game Development club at the University of Nebraska-Lincoln.
				His team consisted of 4 programmers, 1 artist, and 1 music programmer.
				<br /><br />
				<b>Programmers:</b> Kalen Wallin, Evan Mielak, Aaron Friesen, and Viet Ninh<br />
				<b>Artist:</b> Ethan Fox <br />
				<b>Music Producer:</b> Jackson Herman and Aaron Friesen <br /><br />
				<b>Development Tools:</b> Godot Game Engine <br />
				<b>Language:</b> GDScript  <br /><br />
			</p>
			<button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
		</div>
	</form>
</div>

<!-- The Modal -->
<div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
	<span onclick="document.getElementById('id03').style.display='none'"
		  class="close" title="Close Modal">&times;</span>

	<!-- Modal Content -->
	<form class="modal-content animate">
		<div class="fappy_container">
			<h1 class="text-center">baldorf</h1>
			<div class="text-center">
				<img src="/Images/baldorf.png" alt="baldorf Graphic" style="width:100%">
			</div>
			<div class="text-center">
				<a href="http://dorf.mysticrhoads.org/" target="_blank">Play online here!</a> or 
				<a href="https://mysticrhoads.org/baldorf/baldorf-gaming-app/" target="_blank">Download the app!</a>
			</div>
			<br />
			<p>
				<b>What it is</b><br />
				baldorf is a mobile game created by Mystic Rhoads Production. Kalen worked with a team of six students in an agile environment to update the game.
				His team is using the Unity game engine with the scripting language C#.
				During this project, Kalen increased his soft skills of teamwork, patience, and communication, both online and in person,
				as well as hard skills like continuous integration (CI), automated and user testing, deployment to app stores, graphic design, and game development.
			</p>
			<button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
		</div>
	</form>
</div>


<!--
  <iframe src="https://itch.io/embed/380758" height="167" width="552" frameborder="0">
	<a href="https://kalenwallin.itch.io/fappy-borbs">Fappy Borbs by kalenwallin</a>
</iframe>
-->
