@page "/videogames"
@inject IJSRuntime js
@inject Services.AppData AppData;

<Title>Kalen Wallin's Portfolio</Title>
<Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
<Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Video Games</h1>
    </div>

</header>
<body>
    <div>
        <div class="modal-header slide-in-from-bottom">
            <h2>2021</h2>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/minieval.png" alt="Minieval Logo">
                    </div>
                    <div class="container">
                        <h4><b>Minieval</b></h4>
                        <p>User Interface and Programming</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
        </div>
        <div class="modal-header slide-in-from-bottom">
            <h2>2018</h2>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                            <img src="/Images/fappyBorbs.png" alt="Fappy Borbs Main Screen">
                    </div>
                    <div class="container">
                        <h4><b>Fappy Borbs</b></h4>
                        <p>Project Manager & Lead Programmer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
        </div>
        <br />
    </div>
</body>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Fappy Borbs</h1>
            <br /><br />
            <div class="text-center">
                @if (AppData.Theme == "Light")
                {
                    <iframe frameborder="0" src="https://itch.io/embed/380758?bg_color=fefefe&amp;border_color=fefefe" width="208" height="167">
                        Fappy Borbs by kalenwallin
                    </iframe>
                }
                else
                {
                    <iframe frameborder="0" src="https://itch.io/embed/380758?bg_color=1e1e1e&amp;fg_color=c3c3c3&amp;link_color=fa5c5c&amp;border_color=1e1e1e" width="208" height="167">
                        Fappy Borbs by kalenwallin
                    </iframe>
                }
            </div>
            <br /><br />
            <p>
                Fappy Borbs is an adventure take on the popular game, Flappy Bird. This game was created by my computer science class in highschool.
                Our team consisted of 2 programmers, 2 artists, and a music producer.
                <br /><br />
                <b>Programmers:</b> Kalen Wallin & Travis Rowley <br />
                <b>Artists:</b> Landis Beverly & Nike Smith <br />
                <b>Music Producer:</b> Will Kuenne <br /><br />
                <b>Development Tools:</b> Unity Game Engine <br />
                <b>Language:</b> C#
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal -->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Minieval</h1>
            <br /><br />
            <div class="text-center">
                @if (AppData.Theme == "Light")
                {
                    <iframe frameborder="0" src="https://itch.io/embed/1003723?bg_color=fefefe&amp;border_color=fefefe" width="208" height="167">
                        Minieval by Maugrift, kalenwallin, MagosJurisVulpes, evanmielak, Lotus
                    </iframe>
                }
                else
                {
                    <iframe frameborder="0" src="https://itch.io/embed/1003723?bg_color=1e1e1e&amp;fg_color=c3c3c3&amp;link_color=fa5c5c&amp;border_color=1e1e1e" width="208" height="167">
                        Minieval by Maugrift, kalenwallin, MagosJurisVulpes, evanmielak, Lotus
                    </iframe>
                }
            </div>
            <br /><br />
            <p>
                A tiny medieval city builder, inspired by Islanders. <br /><br />
                This game was created by my Game Development club at the University of Nebraska-Lincoln.
                Our team consisted of 4 programmers, 1 artist, and 1 music programmer.
                <br /><br />
                <b>Programmers:</b> Kalen Wallin, Evan Mielak, Aaron Friesen, and Viet Ninh<br />
                <b>Artist:</b> Ethan Fox <br />
                <b>Music Producer:</b> Jackson Herman and Aaron Friesen <br /><br />
                <b>Development Tools:</b> Godot Game Engine <br />
                <b>Language:</b> GDScript  <br /><br />
                <a href="https://github.com/Maugrift/Minieval" target="_blank">Check out the code!</a>
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
        </div>
    </form>
</div>




<!--
  <iframe src="https://itch.io/embed/380758" height="167" width="552" frameborder="0">
    <a href="https://kalenwallin.itch.io/fappy-borbs">Fappy Borbs by kalenwallin</a>
</iframe>
-->