@page "/websites"

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Websites</h1>
    </div>

</header>
<body>
    <div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id04').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/portfoliov3.png" alt="Potfolio version 3 Logo">
                    </div>
                    <div class="container">
                        <h4><b>Portfolio.v3</b></h4>
                        <p>Next.js Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/portfoliov2.png" alt="Potfolio version 2 Logo">
                    </div>
                    <div class="container">
                        <h4><b>Portfolio.v2</b></h4>
                        <p>Django Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/portfoliov12.png" alt="Portfolio version 1 Logo">
                    </div>
                    <div class="container">
                        <h4><b>Portfolio.v1</b></h4>
                        <p>Blazor Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/voting_system.png" alt="Voting System Logo">
                    </div>
                    <div class="container">
                        <h4><b>Voting System</b></h4>
                        <p>Front End Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

<!-- The Modal -->
<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Voting System</h1>
            <hr />
            <p>
                <b>What it is</b><br />
                Voting System is a website Kalen created for his software engineering (CSCE 361) final project at the University of Nebraska-Lincoln.
                <br />
                <br />
                <b>Features</b><br />
                The main feature of the Voting System is the ability to vote. The website also handles user accounts, allows the user
                to view their ballot after voting, and view the results of an election.
                <br />
                <br />
                <b>Team & Responsibilities</b><br />
                Kalen's team consisted of 5 student software engineers. He developed all of the front end and unit tested the controllers.
                Josh Bellmyer created the controllers and methods for using the database and handling user information.
                Thomas Walton and Jayden Carlon designed and implemented the database.
                Cameron Collingham helped Josh with some of the controllers and helped Kalen write unit tests.
                <br />
                <br />
                <b>Development Details</b><br />
                The project was developed using <b>MVC</b> and <b>SOLID</b> design principles.
                <br />
                <br />
                <a class="font-weight-bold">Development Tools:</a> .NET Framework, ASP.NET Core 3.1, Razor Pages
                <br />
                <a class="font-weight-bold">Languages:</a> HTML, CSS, C#, and Javascript.
                <br />
                <a class="font-weight-bold">Testing Framework:</a> MSTest
                <br />
                <a class="font-weight-bold">Database:</a> Entity Framework Core, Uses LINQ to query data, prevent attacks, SQL Server/Local DB
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal -->
<div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe src="https://v3.kalenwallin.com/portfoliov2" style="width: 100%; height: 95%;" />
            @*<h1 class="text-center">Portfolio.v2</h1>
                <hr />
                <iframe loading="lazy" frameborder="0" src="https://v2.kalenwallin.com/" allowfullscreen width="980" height="688"></iframe>
                <br />
                <p>
                    <b>What it is</b><br />
                    <a href="https://v2.kalenwallin.com/" target="_blank">Portfolio.v2</a> is my 2nd portfolio website.
                    This site showcases my growth as a web developer and is a playground for me to test new ideas.
                    It contains the same content as here, so no need to reread anything! The design was inspired by Netflix.
                    <br />
                    <br />
                    <a class="font-weight-bold">Development Tools:</a> Django
                    <br />
                    <a class="font-weight-bold">Languages:</a> HTML, CSS, Javascript, and Python
                    <br /><br />
                    Portfolio.v2's code lives on <a href="https://github.com/kalenwallin/portfolio.v2" target="_blank">GitHub</a> and is hosted
                    by Vercel. This version can be found here <br />
                    <a href="https://v2.kalenwallin.com/" target="_blank">https://v2.kalenwallin.com/</a>
                </p>*@
            <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal -->
<div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe src="https://v3.kalenwallin.com/portfoliov1" style="width: 100%; height: 95%;" />
            @*<h1 class="text-center">Portfolio.v1</h1>
                <hr />
                <p>
                    <b>What it is</b><br />
                    Portfolio.v1 is the first website I created to show off my experience for employers and is the website you are currently on.
                    <br />
                    <br />
                    <b>Features</b><br />
                    Dark Mode. Users can toggle light and dark themes.
                    <br />
                    Fast and Responsive. Single page application that looks great on all devices.
                    <br />
                    Secured by Cloudflare.
                    <br />
                    <br />
                    <b>Development Details</b><br />
                    The project was developed using <b>Blazor</b> which is a web development framework created by Microsoft that allows developers
                    to build web applications using C# and .NET. With Blazor, the user interface is rendered in the browser using WebAssembly.
                    <br />
                    <br />
                    <a class="font-weight-bold">Development Tools:</a> .NET Framework, Blazor, Razor Pages
                    <br />
                    <a class="font-weight-bold">Languages:</a> HTML, CSS, C#, and Javascript.
                    <br />
                    <br />
                    Portfolio.v1's code lives on <a href="https://github.com/kalenwallin/portfolio.v1" target="_blank">GitHub</a> and is hosted by both
                    GitHub Pages and Cloudflare. The Cloudflare version can be found at <br /><a href="https://kalenwallin.com/" target="_blank">https://kalenwallin.com/</a>
                    or <a href="https://www.kalenwallin.com/" target="_blank">https://www.kalenwallin.com/</a>
                    While the GitHub Pages version can be found at <br />
                    <a href="https://v1.kalenwallin.com/" target="_blank">https://v1.kalenwallin.com/</a> <br />.
                </p>*@
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>

<div id="id04" class="modal" onclick="document.getElementById('id04').style.display='none'">
    <form class="modal-content notion animate">
        <div class="fappy_container">
            <iframe src="https://v3.kalenwallin.com/portfoliov3" style="width: 100%; height: 95%;" />
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>