@page "/work"

<Title>Kalen Wallin's Portfolio</Title>
<Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
<Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Work Experience</h1>
    </div>

</header>
<body>
    <div>
        <div class="modal-header slide-in-from-bottom">
            <h2>2021</h2>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/faf-logo-no-words.png" alt="FarmAfield Logo">
                    </div>
                    <div class="container">
                        <h4><b>FarmAfield</b></h4>
                        <p>Software Engineering Intern</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/WallinFarmsSmall.png" alt="Wallin Farms Logo">
                    </div>
                    <div class="container">
                        <h4><b>Wallin Farms</b></h4>
                        <p>Farmhand & Office Worker</p>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="modal-header slide-in-from-bottom">
            <h2>2020</h2>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/initunlwhite.png" alt="Initialize UNL Logo White">
                    </div>
                    <div class="container">
                        <h4><b>Initialize</b></h4>
                        <p>Curriculum Developer</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
        </div>
        <div class="modal-header slide-in-from-bottom">
            <h2>2019</h2>
        </div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id04').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/ImperialPoolLogo.png" alt="Imperial Pool Logo">
                    </div>
                    <div class="container">
                        <h4><b>Imperial Pool</b></h4>
                        <p>Lifeguard</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
            </div>
        </div>
        <br />
    </div>
</body>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">FarmAField <br />Software Engineering Internship</h1>
            <br /><br />
            <div class="text-center">
                <img src="/Images/faf-logo-new.png" alt="FarmAfield Logo" style="width:25%">
            </div>
            <br /><br />
            <p>
                <i>May 2021 - Present</i>
                <br /><br />
                I worked with a team of 4 software engineers to maintain and add features to the FarmAfield website.
                <br />
                <br />
                <b>Notable Features:</b>
                <br />
                <br />
                <i>Dark Mode</i><br />
                Users can toggle between light and dark theme in their account settings.
                If a user's device/browser has a theme preference, then the website's theme is automatically set. Users can override
                this setting by toggle the theme in their account setting.
                <br />
                <br />
                <i>Email Preferences</i><br />
                Users can add a second email and manage their marketing email preferences in their account settings.
                Users can turn marketing emails on or off for each email. The preference is sent to the server using an AJAX POST request
                to avoid page refresh for best user experience.
                <br />
                <br />
                <i>Solar Landing Page</i><br />
                FarmAfield now offers farmers the opportunity to set up solar panels on their land with funding from investors.
                I created the landing page and the My Solar Assessment form for our Solar subdomain site.
                <br />
                <br />
                <b>Development Methodology:</b> Agile, Test-driven development<br />
                <b>Development Tools:</b> Django, Foundation, GitHub, PostgreSQL, Redis Server, Yarn, Webpack, Poetry, Digital Ocean, Caprover <br />
                <b>Languages:</b> Python, HTML, CSS, JavaScript<br />
                <b>Testing:</b> Seleneium, Unit, Integration<br />
                <b>Workflow Management:</b> Jira<br />
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>


<!-- The Modal 2 -->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Initialize Curriculum Development</h1>
            <br /><br />
            <div class="text-center">
                <img src="/Images/initcurriculum.png" alt="Initialize Curriculum Development Graphic" style="width:50%">
            </div>
            <br /><br />
            <p>
                <i>January 2020 - May 2020</i>
                <br /><br />
                I worked with a small team of students to develop computer science curriclum
                intended to be used in workshops for students in rural areas.
                <br /><br />
                Our team was a part of the UNL Initialize Club.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal 3 -->
<div id="id03" class="modal">
    <span onclick="document.getElementById('id03').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Wallin Farms</h1>
            <br /><br />
            <div class="text-center">
                <img src="/Images/WallinFarmsField.jpg" alt="Photo of tractor disking a field" style="width:75%">
            </div>
            <br /><br />
            <p>
                <i>November 2020 - January 2021</i>
                <br /><br />
                I registered corn tickets and invoices into Excel spreadsheets to look for discrepancies between actual prices
                and what the prices should be.
                <br /><br />
                <i>March - August 2020</i>
                <br /><br />
                I fixed tires, gearboxes, and center drives on irrigation pivots in corn fields. I strip tilled corn fields by operating a tractor.
                I moved seed boxes using a forklift. I mowed ditches along our fields with a tractor.
                <br /><br />
                <i>Summers 2014 - 2017</i>
                <br /><br />
                I helped fix tires, gearboxes, and center drives on irrigation pivots in corn fields.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal 4 -->
<div id="id04" class="modal">
    <span onclick="document.getElementById('id04').style.display='none'"
          class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Imperial Pool</h1>
            <br /><br />
            <div class="text-center">
                <img src="/Images/lifeguarding.jpg" alt="Photo of Kalen Wallin as a lifeguard" style="width:75%">
            </div>
            <br /><br />
            <p>
                <i>Summers 2017 - 2019</i>
                <br /><br />
                During my job as a lifeguard, I spent most of my time supervising swimming. In my other time, I manned the cash register
                selling memberships, snacks and drinks. While the pool was closed, I taught swimming lessons and cleaned the facility.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id04').style.display='none'">Done</button>
        </div>
    </form>
</div>