@page "/work"

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Work Experience</h1>
    </div>

</header>
<body>
    <div>
        <div class="row slide-in-from-bottom-light">
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/farmafield.png" alt="FarmAfield internship graphic">
                    </div>
                    <div class="container">
                        <h4><b>FarmAfield</b></h4>
                        <p>Web Development Intern</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id05').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/unl_ta.png" alt="University of Nebraska-Lincoln Teaching Assistant graphic">
                    </div>
                    <div class="container">
                        <h4><b>University of Nebraska-Lincoln</b></h4>
                        <p>Undergraduate Teaching Assistant</p>
                    </div>
                </div>
            </div>
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="/Images/wallin_farms.png" alt="Wallin Farms Logo">
                    </div>
                    <div class="container">
                        <h4><b>Wallin Farms</b></h4>
                        <p>Farmhand & Office Worker</p>
                    </div>
                </div>
            </div>
        </div>
		<div class="row slide-in-from-bottom-light">
			<div class="column to-slide-bottom-light animate">
				<div class="card" onclick="document.getElementById('id02').style.display='block'">
					<div class="img-container">
						<img src="/Images/initialize.png" alt="Initialize UNL Logo White">
					</div>
					<div class="container">
						<h4><b>Initialize</b></h4>
						<p>Curriculum Developer</p>
					</div>
				</div>
			</div>
			<div class="column to-slide-bottom-light animate">
				<div class="card" onclick="document.getElementById('id04').style.display='block'">
					<div class="img-container">
						<img src="/Images/imperial_pool.png" alt="Imperial Pool Logo">
					</div>
					<div class="container">
						<h4><b>Imperial Pool</b></h4>
						<p>Lifeguard</p>
					</div>
				</div>
			</div>
		</div>
        <br />
    </div>
</body>

<!-- The Modal -->
<div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">FarmAfield <br />Web Development Intern</h1>
            <hr />
            <div class="text-center">
                <a href="https://farmafield.com/" target="_blank">Check out the site!</a>
            </div>
            <br />
            <p>
                <b>May 2021 - Aug 2022</b>
                <br /><br />
                Kalen worked with a team of 4 software engineers to maintain and add features to the FarmAfield website.
                <br />
                <br />
                <b>Notable Features</b>
                <br />
                <br />
                <i>Dark Mode</i><br />
                Users can toggle between light and dark theme in their account settings.
                If a user's device/browser has a theme preference, then the website's theme is automatically set. Users can override
                this setting by toggle the theme in their account setting.
                <br />
                <br />
                <i>Email Preferences</i><br />
                Users can add a second email and manage their marketing email preferences in their account settings.
                Users can turn marketing emails on or off for each email. The preference is sent to the server using an AJAX POST request
                to avoid page refresh for best user experience.
                <br />
                <br />
                <i>Solar Landing Page</i><br />
                FarmAfield now offers farmers the opportunity to set up solar panels on their land with funding from investors.
                Kalen created the landing page and the "See if solar is right for me" form for our Solar site.
                <br /><a href="https://ruralenergypartners.com/" target="_blank">Check out the site!</a>
                <br />
                <br />
                <b>Development Methodology:</b> Agile<br />
                <b>Development Tools:</b> Django, Foundation, GitHub, PostgreSQL, Redis Server, Yarn, Webpack, Poetry<br />
                <b>Languages:</b> Python, HTML, CSS, JavaScript<br />
                <b>Testing:</b> Seleneium, Unit, Integration<br />
                <b>Workflow Management:</b> Jira<br />
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
        </div>
    </form>
</div>


<!-- The Modal 2 -->
<div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Initialize <br /> Curriculum Developer</h1>
            <hr />
            <p>
                <b>January 2020 - May 2020</b>
                <br /><br />
                Kalen worked with a small team of students to develop computer science curriclum
                intended to be used in workshops for students in rural areas.
                <br /><br />
                His team was a part of the UNL Initialize Club.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal 3 -->
<div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Wallin Farms<br /> Farmhand & Accountant</h1>
            <hr />
            <p>
                <b>November 2020 - January 2021</b>
                <br /><br />
                Kalen registered corn tickets and invoices into Excel spreadsheets to look for discrepancies between actual prices
                and what the prices should be.
                <br /><br />
                <b>March - August 2020</b>
                <br /><br />
                He fixed tires, gearboxes, and center drives on irrigation pivots in corn fields. He also strip tilled corn fields with a tractor, moved seed boxes using a forklift,
                and mowed ditches along the fields with a tractor.
                <br /><br />
                <b>Summers 2014 - 2017</b>
                <br /><br />
                He helped fix tires, gearboxes, and center drives on irrigation pivots in corn fields.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal 4 -->
<div id="id04" class="modal" onclick="document.getElementById('id04').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">Imperial Pool <br /> Lifeguard</h1>
            <hr />
            <p>
                <b>Summers 2017 - 2019</b>
                <br /><br />
                During his job as a lifeguard, Kalen spent most of my time supervising swimming. In the other time, he manned the cash register
                selling memberships, snacks, and drinks. Outside of public hours, he taught swimming lessons and cleaned the facility.
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id04').style.display='none'">Done</button>
        </div>
    </form>
</div>

<!-- The Modal 5 -->
<div id="id05" class="modal" onclick="document.getElementById('id05').style.display='none'">

    <!-- Modal Content -->
    <form class="modal-content animate">
        <div class="fappy_container">
            <h1 class="text-center">University of Nebraska-Lincoln <br />Software Engineering Teaching Assistant</h1>
            <hr />
            <p>
                <b>Aug - Dec 2021</b>
                <br /><br />
                Kalen worked with a team of three teaching assistants to provide teaching assistance to Professor Bhuvana Gopal
                for CSCE 361 Software Engineering.
                <br />
                <br />
                <b>Office Hours</b><br />
                He held weekly office hours to help answer any questions the students had.
                <br />
                <br />
                <b>Grading</b><br />
                He graded assignments, quizzes, and exams.
                <br />
                <br />
                <b>Meetings</b><br />
                He attended weekly meetings with the team to discuss responsibilities for the week.
                <br />
            </p>
            <button class="btn-block" type="button" onclick="document.getElementById('id05').style.display='none'">Done</button>
        </div>
    </form>
</div>