@inherits LayoutComponentBase
@inject IJSRuntime js

<Title>Kalen Wallin | Portfolio</Title>
<Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />
<Meta name="author" content="Kalen Wallin"/>
<Meta name="description" content="Kalen Wallin's Portfolio showcases his skills through work experience,
        personal projects, school transcripts, community service, and life experiences."/>

<!-- Facebook sharing data -->
<Meta property="og:image" content="https://kalenwallin.com/Images/portfoliov2.png" />
<Meta property="og:description" content="Kalen Wallin's Portfolio showcases his skills through work experience,
        personal projects, school transcripts, community service, and life experiences." />
<Meta property="og:title" content="Kalen Wallin's Portfolio" />

<!-- Twitter sharing data -->
<Meta name="twitter:title" content="Kalen Wallin's Portfolio" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>