@inherits LayoutComponentBase

<Title>Kalen Wallin's Portfolio</Title>
<Meta content="Software developer, Kalen Wallin, shares his projects and experiences." />
<Link Rel="icon" Href="/Images/alpha-k-circle-outline.png" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>
