@inherits LayoutComponentBase
@inject IJSRuntime js
@inject Services.AppData AppData;

<Title>@AppData.title</Title>
<Link Rel="icon" Href="/favicon.ico" />
<Meta name="author" content="Kalen Wallin" />
<Meta name="description" content=@AppData.description />

<!-- Facebook sharing data -->
<Meta property="og:image" content=@AppData.GetImageLink("portfoliov12.png") />
<Meta property="og:description" content=@AppData.description />
<Meta property="og:title" content=@AppData.title />
<Meta property="og:type" content="website" />
<Meta property="og:url" content="https://v1.kalenwallin.com/" />

<!-- Twitter sharing data -->
<Meta name="twitter:title" content=@AppData.title />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <!--<div style="padding: 1rem; background-color: #ff000090;">
        <p style="text-align: center; margin: 0px;">
            This site is no longer maintained. Please visit <a href="https://kalenwallin.com">kalenwallin.com</a>
            for the latest version.
        </p>
    </div>-->
    <div class="content px-4">
        @Body
    </div>
</div>