@inherits LayoutComponentBase
@inject IJSRuntime js
@inject Services.AppData AppData;

<Title>Portfolio.v1</Title>
<Link Rel="icon" Href="/favicon.ico" />
<Meta name="author" content="Kalen Wallin" />
<Meta name="description" content="Showcasing his skills through jobs, projects, school transcripts, community service, and life experiences." />

<!-- Facebook sharing data -->
<Meta property="og:image" content=@AppData.GetImageLink("portfoliov12.png") />
<Meta property="og:description" content="Showcasing his skills through jobs, projects, school transcripts, community service, and life experiences." />
<Meta property="og:title" content="Portfolio.v1 | Kalen Wallin" />
<Meta property="og:type" content="website" />
<Meta property="og:url" content="https://v1.kalenwallin.com/" />

<!-- Twitter sharing data -->
<Meta name="twitter:title" content="Kalen Wallin | Portfolio.v1" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>