@inherits LayoutComponentBase
@inject IJSRuntime js

<Title>Kalen Wallin | Portfolio.v1</Title>
<Link Rel="icon" Href="/favicon.ico" />
<Meta name="author" content="Kalen Wallin"/>
<Meta name="description" content="Showcasing his skills through jobs, programming projects, school transcripts, community service, and life experiences."/>

<!-- Facebook sharing data -->
<Meta property="og:image" content="https://kalenwallin.com/Images/portfoliov1.png" />
<Meta property="og:description" content="Showcasing his skills through jobs, programming projects, school transcripts, community service, and life experiences."/>
<Meta property="og:title" content="Kalen Wallin | Portfolio.v1" />
<Meta property="og:type" content="website" />
<Meta property="og:url" content="https://kalenwallin.com/"/>

<!-- Twitter sharing data -->
<Meta name="twitter:title" content="Kalen Wallin | Portfolio.v1" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>