@inject IJSRuntime js
@inject Services.AppData AppData;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Kalen Wallin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="work">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Work Experience
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="videogames">
                <span class="oi oi-monitor" aria-hidden="true"></span> Video Games
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="websites">
                <span class="oi oi-browser" aria-hidden="true"></span> Websites
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mobileapps">
                <span class="oi oi-phone" aria-hidden="true"></span> Mobile Apps
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <span class="oi oi-document" aria-hidden="true"></span> Resume & Transcripts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="communityservice">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Community Service
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link">
                <span class="oi oi-moon" aria-hidden="true"></span>
                @if (theme_check == "Light")
                {
                    <input @onchange="@ChangingTheme" type="checkbox" name="checkbox" id="dark-theme-toggle-button" class="dark-theme-toggle">
                }
                else
                {
                    <input @onchange="@ChangingTheme" checked type="checkbox" name="checkbox" id="dark-theme-toggle-button" class="dark-theme-toggle">
                }
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public string selectedTheme = "Light";
    public string theme_check = "Light";

    protected override async Task OnInitializedAsync()
    {
        AppData.SetTheme("Light");
        var themeFromLocalStorage = await js.InvokeAsync<string>("readLocalStorage", "theme");
        if (!string.IsNullOrEmpty(themeFromLocalStorage))
        {
            selectedTheme = themeFromLocalStorage;
            theme_check = themeFromLocalStorage;
            AppData.SetTheme(themeFromLocalStorage);

        }
        await js.InvokeVoidAsync("MyInterop.ChangeTheme", selectedTheme);
    }

    public async Task ChangingTheme(ChangeEventArgs e)
    {
        if (selectedTheme == "Light")
        {
            selectedTheme = "Dark";
            AppData.SetTheme(selectedTheme);
        }
        else if (selectedTheme == "Dark")
        {
            selectedTheme = "Light";
            AppData.SetTheme(selectedTheme);
        }
        await js.InvokeVoidAsync("addToLocalStorage", "theme", selectedTheme);
        await js.InvokeVoidAsync("MyInterop.ChangeTheme", selectedTheme);
    }
}
